[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:william-barros-costa/nvim.git
[submodule "tmux/.config/.tmux/plugins/.tmux/plugins/tpm"]
	path = tmux/.config/.tmux/plugins/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
